<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <%- include('css'); -%>
  </head>
  <body>
    <h1>NODEPOP</h1>
    <div class="search">
      <input type="text" placeholder="Yo necesito..." class="search-bar" />
      <button type="submit"></button>
    </div>
    <h2>Hoy, ¿qué necesitas?</h2>
    <%- include('menu'); -%>
    <p>Mobile</p>
    <!-- <section class="mobile">
      
      <div><img src="/images/note6pro.jpeg" alt="phone1" /></div>
      <div><img src="/images/note6pro.jpeg" alt="" /></div>
      <div><img src="/images/note6pro.jpeg" alt="" /></div>
      <div><img src="/images/note6pro.jpeg" alt="" /></div>
      <div><img src="/images/note6pro.jpeg" alt="phone1" /></div>
      <div><img src="/images/note6pro.jpeg" alt="" /></div>
      <div><img src="/images/note6pro.jpeg" alt="" /></div>
      <div><img src="/images/note6pro.jpeg" alt="" /></div>
    </section> -->
    <section class="mobile-ads">
      <% ads.forEach(function(ad) { %>
      <div class="product-info">
        <img src="/images/galaxy s6.jpg" alt="" />
        <span><%= ad.article.name %></span>
        <span><%= ad.article.id %></span>
        <span><%= ad.id %></span>
        <span><%= ad.article.description %></span>
      </div>
      <% }); %>
    </section>
  </body>
</html>
