<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop</title>
    <%- include('css'); -%>
  </head>
  <body>
    <h1>NODEPOP</h1>
    <div class="search">
      <input type="text" placeholder="Yo necesito..." class="search-bar" />
    </div>
    <h2>Hoy, ¿qué necesitas?</h2>
    <%- include('menu'); -%>

    <section class="mobile-ads">
      <% ads.forEach(function(ad) { %>
      <div class="product-info">
        <img src="data:image/jpeg;base64, <%=ad.article.photo %>" />
        <span><%= ad.article.name %></span>
        <span><%= ad.article.id %></span>
        <span><%= ad.id %></span>
        <span><%= ad.article.description %></span>
      </div>
      <% }); %>
    </section>
    <script src="/scripts/filters.js"></script>
  </body>
</html>
